---
layout: default
title: Home
---
<html>
  <div class="hero">
    <h1>Hi, my name is Delaney</h1>
    <p>
      Maker with a passion for craft and quality.
      I enjoy creating beautiful things, solving complex problems, and helping people
    </p>
  </div>

  <div class="section" id="projects">
    <h2>Featured Projects</h2>

    {% assign featured_projects = site.projects | where_exp: "project", "project.tags contains 'Featured'" %}
    <div class="projects-grid">
      {% for project in featured_projects %}
      <div class="project-card">
        <!-- Display project image, name, and description -->
        <img src="{{ project.image }}" alt="{{ project.title }}">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>

        <!-- Display Tag Badges -->
        <div class="project-tags">
          {% for tag in project.tags %}
            {% unless tag == "Featured" %}
              <a href="/tags/{{ tag | slugify }}" class="tag-badge">{{ tag }}</a>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section" id="skills">
    <h2>Skills</h2>
      <div class="skills">
        <span>Woodworking</span> <span>Electronics Engineering</span> <span>PCB Design</span> <span>3D Modeling/Printing</span> <span>Git</span> <span>Linux</span> <span>Sewing</span> <span>Leatherworking</span> <span>Pyrography</span> <span>Machining</span> <span>Welding</span> <span>Bladesmithing</span> <span>Jewelry Making</span> <span>HEMA Swordplay</span> <span>Archery</span> <span>TTRPGs</span>
    </div>
  </div>
</html>
