<footer class="site-footer">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <nav>
    <div class="section" id="contact">
      <h2>Contact</h2>
      <ul class="footer-links">
          <li>
            <a href="https://github.com/TheIrishWolf">
              <i class="fab fa-github-square"></i> GitHub
            </a>
          </li>
          <li>
            <a href="atom.xml">
              <i class="fas fa-rss-square"></i> Feed
            </a>
          </li>
        </ul>
    </div>
  </nav>
</footer>
