main {
  justify-content: center;
  align-items: center;
}
main img {
  max-width: 60%;
  height: auto;
  display: block; /* makes image behave as a block */
  margin: 5 auto; /* Centers display block and adds a 5px above and below from text */
}
a:link, a:visited { /* unvisited/visited links */
  color: var(--text);
  text-decoration: none;
  border: 1px solid var(--border);
  border-radius:8px;
  padding:6px 10px;
  margin:5px;

  background-color: var(--bg);
}
a:hover, a:active { /* mouse over/selected links */
  color: var(--text);
  text-decoration: none;
  border: 1px solid var(--border);
  border-radius:8px;
  padding:6px 10px;
  margin:5px;

  background-color: var(--muted);
  cursor: pointer;
}
