<style>
  :root{
    --bg:#ffffff;
    --text:#1f2933;
    --muted:#6b7280;
    --card:#f8fafc;
    --border:#e5e7eb;
    --accent:#2563eb;
  }
  @media (prefers-color-scheme: dark){
    :root{
      --bg:#0f172a;
      --text:#e5e7eb;
      --muted:#9ca3af;
      --card:#1e293b;
      --border:#334155;
      --accent:#60a5fa;
    }
  }
  body{
    background:var(--bg);
    color:var(--text);
    font-family:system-ui,-apple-system,Segoe UI,Roboto,sans-serif;
    line-height:1.6;
  }
  .active {
    border-bottom: 2px solid white;
  }

  /* NAVBAR */
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:50px;
  }
  .nav-logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav-links a{
    margin-left:20px;
    text-decoration:none;
    color:var(--muted);
    font-weight:500;
  }
  .nav-links a:hover{
    color:var(--accent);
    text-decoration: underline;
  }

  /* HERO */
  .hero{
    margin:60px 0;
  }
  .hero h1{
    font-size:2.7rem;
    margin-bottom:10px;
  }
  .hero p{
    color:var(--muted);
    font-size:1.1rem;
  }

  /* SECTION */
  .section{
    margin-top:70px;
  }
  .section h2{
    margin-bottom:20px;
  }

  /* PROJECT GRID */
  .projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:24px;
  }
  .project-card{
    background:var(--card);
    border:1px solid var(--border);
    border-radius:14px;
    padding:22px;
    transition:all .25s ease;
  }
  .project-card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 28px rgba(0,0,0,.15);
  }
  .project-card p{
    color:var(--muted);
  }
  .project-card a{
    color:var(--accent);
    text-decoration:none;
    font-weight:500;
  }
  .project-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .project-image {
     max-width: 300px;
     height: auto;
     display: block;
     margin: 0 auto;
  }
  .project-card a:hover{
    text-decoration:underline;
  }
  .project-skills{
    display:inline-block;
    background:var(--card);
    order:1px solid var(--border);
    border-radius:8px;
    padding:6px 10px;
    margin:5px;
    font-size:.9rem;
  }

  /* SKILLS */
  .skills span{
    margin-top:20px;
    display:inline-block;
    background:var(--card);
    border:1px solid var(--border);
    border-radius:8px;
    padding:6px 10px;
    margin:5px;
    font-size:.9rem;
  }

  .site-header {
    background: #222;
    padding: 10px 20px;
  }

  /* FOOTER */
  .site-footer{
    margin-top:80px;
    padding-top:20px;
    border-top:1px solid var(--border);
    color:var(--muted);
    font-size:.9rem;
  }
</style>
