---
---
/* ---------- Colors ---------- */
:root{ /* Light mode */
  --bg:#7e8c54; /* Moss Green */
  --text:#3e2723; /* Earth Brown */
  --muted:#48462c; /* Dark Lichen */
  --card:#7e8c54; /* Moss Green */
  --border:#3e2723; /* Earth Brown */
  --accent:#bc815f; /* Light Earth brown */
}
@media (prefers-color-scheme: dark){
  :root{ /* Dark mode */
    --bg:#3e2723; /* Earth Brown */
    --text:#7e8c54; /* Moss Green */
    --muted:#48462c; /* Dark Lichen */
    --card:#3e2723; /* Earth Brown */
    --border:#7e8c54; /* Moss Green */
    --accent:#858F4B; /* Light Moss Green */
  }
}

/* ---------- Setup ---------- */
body{ /* Sets body content style in layout, also contains header and footer styles */
  background: var(--bg);
  color: var(--text);
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 1.6;
}
main img { /* Sets image display style */
  max-width: 80%;
  height: auto;
  display: block;
}
.active { /* Sets properties for active state for given element */
  border-bottom: 1px solid var(--border);
  color: var(--text);
}
a:link, a:visited { /* unvisited/visited links */
  color: var(--accent);
  text-decoration: none;
  text-shadow: 2px 2px var(--muted);
}
a:hover, a:active { /* mouse over/selected links */
  color: var(--accent);
  text-decoration: none;
  text-shadow: 4px 4px var(--muted);
  cursor: pointer;
}
/* ---------- Formatting ---------- */
/* Header */
.site-header {
  position: sticky;
  top: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
/* Footer */
.site-footer{
  border-top: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);
  font-size:.9rem;
  margin-top: 80px; /* Distance from footer border to body content */
  padding-top: 5px; /* Distance from footer border to footer content */
  text-align: center;
}
/* Section */
.section{ /* Creates the .section container to which navbar links can be generated */
  margin-top:70px;
  text-align:center;
}
.section h2{ /* Sets properties of plaintext inside a given section  */
  margin-bottom:20px;
}
/* ---------- Elements ---------- */
/* Intro */
.intro{ /* Intro element styling */
  margin:60px 0;
  justify-content: center;
}
.intro h1{ /* Intro element header styling */
  font-size:2.7rem;
  margin-bottom:10px;
  justify-content: center;
}
.intro p{ /* Intro element plaintext styling */
  color:var(--text);
  font-size:1.1rem;
  justify-content: center;
}

/* Navbar */
.navbar{ /* navbar element styling */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: fit-content;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid var(--border);

  background-color: transparent;
  backdrop-filter: blur(5px);
}
.nav-logo { /*  */
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
}
.nav-links { /*  */
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.nav-links a{ /*  */
  margin-left:20px;
  text-decoration:none;
  color: var(--text);
  font-weight:500;
  font-size: 0.9rem;

  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid var(--border);

  display: inline-flex;
  align-items: center;
  gap: 6px;

  background-color: transparent;
  transition: all 0.2s ease;
}
.nav-links a:hover{ /*  */
  color: var(--accent);
  border: 1px solid var(--border);
  background-color: var(--bg);
}
.nav-links a.active { /*  */
  border: 1px solid var(--border);
}

/* Tag Filter Bar */
.tag-filter-bar { /* Tag filter bar object container */
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.tag-badge.active { /* Tag-filter-bar selected tag-badge stye*/
  color: var(--text);
  border: 1px solid var(--border);
  background-color: var(--muted);
  text-decoration: none;
}
.tag-filter-bar .tag-badge { /* Controls behaviour of tag-badge text objects within the tag-filter-bar container */
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

/* Project Card Grid */
.projects-grid{ /* Project card grid section/container */
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:24px;
}
.project-card{ /* Project card object */
  background:var(--card);
  border: 1px solid var(--border);
  border-radius:14px;
  padding:22px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.project-card:hover{ /* Project card object hover styling */
  transform:translateY(-6px);
  box-shadow:0 12px 28px rgba(0,0,0,.15);
}
.project-card p{ /* Project card description text */
  color:var(--text);
}
.project-card a{ /* Project card link text */
  text-decoration:none;
  font-weight:500;
}
.project-card a:hover{ /* Project card link text hover styling */
  text-decoration: none;
}
.project-card img{ /* Project card image styling */
  width: 100%;
  height: auto;
  object-fit: cover;
  justify-content: center;
}

/* Project Card Tags */
.project-tags { /* Project card tag section container */
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
}
.tag-badge { /* Project card tag badges */
  font-size: 0.75rem;
  color: var(--text);

  padding: 4px 8px;
  border-radius: 999px;

  border: 1px solid var(--border);
  background-color: transparent;
  text-decoration:none;
  transition: all 0.2s ease;
}
.tag-badge:hover { /* Project card tag badges hover styling  */
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--muted);
  text-decoration:none;
}

/*.project-image {
   max-width: 300px;
   height: auto;
   display: block;
   margin: 0 auto;
}*/

/*.project-skills{
  display:inline-block;
  background:var(--card);
  border: 1px solid var(--border);
  border-radius:8px;
  padding:6px 10px;
  margin:5px;
  font-size:.9rem;
}*/

/* Skills */
.skills span{ /* Skills badge */
  margin-top:20px;
  display:inline-block;
  background:var(--card);
  border: 1px solid var(--border);
  border-radius:8px;
  padding:6px 10px;
  margin:5px;
  font-size:.9rem;
  justify-content: center;
}

/* Footer social links */
.social-links{ /* Defines behaviour of social links list  */
  color:var(--text);
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.social-links a{ /* Social link text styling */
  text-decoration: none;
  color: var(--text);
  font-size: 0.9rem;

  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid var(--border);

  display: inline-flex;
  justify-content: center;
  gap: 6px; /* between icons */

  background-color: var(--bg);
  transition: all 0.2s ease;
}
.social-links a:hover { /* Social link text hover styling */
  text-decoration: none;
  cursor: pointer;
  color: var(--text);
  opacity: 0.7;
  border: 1px solid var(--border);
  background-color: var(--bg);
}
